<!-- <body> -->
<h1>Chat Data</h1>
<hr>
<h2>Users list:</h2>
<ul>
    <?php foreach($users as $user): ?>
        <li><?= $user['id']; ?>:<?= $user['login']; ?></li>
    <?php endforeach; ?>
</ul>
<hr>
<h2>Chats list:</h2>
<ul>
    <?php foreach($chats as $chat): ?>
    <li><?= $chat['id']; ?></li>
    <?php endforeach; ?>
</ul>
<hr>
<h2>Messages:</h2>
<ul>
    <?php foreach($firstChat as $message): ?>
    <li>[<?= $message['date']; ?>]<?= $message['sender_user_id']; ?>:<?= $message['content']; ?></li>
    <?php endforeach; ?>
</ul>

<!-- </body> -->